*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: #ebf5fc;
}
.container
{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70rem;
    margin-top: 3rem;
}
.container .card
{
    width: 20rem;
    margin: 1.2rem;
    padding: 2.5rem 1.9rem;
    background:#ebf5fc ;
    border-radius: 0.7rem;
    box-shadow: -0.4rem -0.4rem 1.3rem rgba(255,255,255,1),
                0.4rem 0.4rem 1.3rem rgba(0,0,0,.1);

}
.container .card .imgBx
{
    text-align: center;
    position: relative;
}
.container .card .imgBx img
{
    width: 6rem;
    text-align: center;
    position: relative;
}
.container .card:hover 
{
    box-shadow: inset -0.4rem -0.4rem 1.3rem rgba(255,255,255,0.5),
                inset 0.4rem 0.4rem 1.3rem rgba(0, 0, 0, 0.1);
}
.container .card .contentBx
{
    position: relative;
    margin-top: 1.3rem;
    align-items: center;
    text-align: center;
}
.container .card .contentBx h2
{
    color: #32a3b1;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.08rem;
}
.container .card .contentBx p
{
    color: #32a3b1;
}
.container .card .contentBx a
{
    display: inline-block;
    padding: 0.7rem 1.3rem;
    margin-top: 1rem;
    border-radius: 0.7rem;
    color: #32a3b1;
    font-size: 1rem;
    text-decoration: none;
    box-shadow:  -0.25rem -0.25rem 0.7rem rgba(255,255,255,1),
                0.25rem 0.25rem 0.7rem rgba(0, 0, 0, 0.1);
}
.container .card .contentBx a:hover 
{
    box-shadow: inset -0.25rem -0.25rem 0.7rem rgba(255,255,255,0.5),
                inset 0.25rem 0.25rem 0.7rem rgba(0, 0, 0, 0.1);   
}
.container .card .contentBx a:hover span
{
    display: block;
    transform: scale(0.98);
}
.container .card:hover .imgBx,
.container .card:hover .contentBx
{
    transform: scale(0.98);
}




