*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: #f0f4f6;
}
.container
{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 113rem;
    margin-top: 3rem;
}
.container .card,.container .card1

{
    width: auto;
    margin: 1.2rem;
    padding: 0.6rem 0.4rem;
    background:#ebf5fc ;
    border-radius: 0.7rem;
    box-shadow: -0.4rem -0.4rem 1.3rem rgba(255,255,255,1),
                0.4rem 0.4rem 1.3rem rgba(0,0,0,.1);

}
.container .card2
{
    width: 17rem;
}
.container .card .imgBx
{
    text-align: center;
    position: relative;
}
.container .card .imgBx img
{
    width: 6rem;
    text-align: center;
    position: relative;
}
.container .card:hover,.container .card1:hover  
{
    box-shadow: inset -0.4rem -0.4rem 1.3rem rgba(255,255,255,0.5),
                inset 0.4rem 0.4rem 1.3rem rgba(0, 0, 0, 0.1);
}
.container .card .contentBx
{
    position: relative;
    margin-top: 1.3rem;
    align-items: center;
    text-align: center;
}
.container .card .contentBx h2
{
    color: #32a3b1;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.08rem;
}
.container .card .contentBx p
{
    color: #32a3b1;
} 
.container .card .contentBx a
{
    display: inline-block;
    padding: 0.7rem 1.3rem;
    margin-top: 1rem;
    border-radius: 0.7rem;
    color: #32a3b1;
    font-size: 1rem;
    text-decoration: none;
    box-shadow:  -0.25rem -0.25rem 0.7rem rgba(255,255,255,1),
                0.25rem 0.25rem 0.7rem rgba(0, 0, 0, 0.1);
}
.container .card .contentBx a:hover 
{
    box-shadow: inset -0.25rem -0.25rem 0.7rem rgba(255,255,255,0.5),
                inset 0.25rem 0.25rem 0.7rem rgba(0, 0, 0, 0.1);   
}
.container .card .contentBx a:hover span
{
    display: block;
    transform: scale(0.98);
}
.container .card:hover .imgBx,
.container .card:hover .contentBx
{
    transform: scale(0.98);
}
.container .card .notepage
{
    position: relative;
    margin-top: 1.3rem;
    align-items: center;
    text-align: center;
}
.container .card .notepage p

{
    margin-bottom: 1rem;
    align-items: center;
    font-weight: 900;
    font-style: italic;
    font-size: 1.4rem;
    
    text-align: center;
    padding: 0.7rem 2rem;
    background:#ebf5fc ;
    color: #ff07c57c;
    border-radius: 0.7rem;
    box-shadow: -0.4rem -0.4rem 1.3rem rgba(255,255,255,1),
                0.4rem 0.4rem 1.3rem rgba(0,0,0,.1);
}
/* *
{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebecec;
} */
a
{
    position: relative;
    display: inline-block;
    padding: 0.7rem 2rem;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    margin-left: 0.4rem; 
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: #5a84a2;
    font-size: 1rem;
    /* top: 8rem; */
    border-radius: 0.7rem;
    box-shadow: -2px -2px 8px rgba(255,255,255,1),
                -2px -2px 12px rgba(255,255,255,0.5),
                inset 2px 2px 4px rgba(255,255,255,0.1),
                 2px 2px 8px rgba(0, 0, 0, 0.15);

}
a:hover
{
    box-shadow: -2px -2px 8px rgba(255,255,255,1),
                -2px -2px 12px rgba(255,255,255,0.5),
                inset 2px 2px 4px rgba(255,255,255,0.1),
                inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}
a:hover span
{
    display:inline-block;
    transform: scale(0.98);
}
.container .card1,.container .card2
{
    display: flex;
    width: 100%;
    display: block;
    flex-direction:row;
}
.container .card1 .cardalert p
{
    margin-bottom: 1rem;
    align-items: center;
    font-weight: 900;
    font-style: italic;
    font-size: 1.4rem;
    
    text-align: center;
    /* padding: 0.7rem 0.4rem; */
    background:#ebf5fc ;
    color: red;
    border-radius: 0.7rem;
    /* box-shadow: -0.4rem -0.4rem 1.3rem rgba(255,255,255,1),
                0.4rem 0.4rem 1.3rem rgba(0,0,0,.1);*/
} 
/* .alert
{
    height: 4rem;
    width: 4rem;
    -webkit-appearance: none;
    box-shadow:-10px -10px 15px rgba(255,255,255,0.5),
               10px 10px 15px rgba(76, 73, 73, 0.15) ;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    margin-top: 10rem;
    border: 0.6rem solid #ebecec;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5a84a2;
    font-size: 1.2rem;
    
}
.alert:hover
{
    box-shadow:-10px -10px 15px rgba(255,255,255,0.5),
               10px 10px 15px rgba(76, 73, 73, 0.15),
               inset 10px 10px 15px rgba(255,255,255,0.5),
               10px 10px 15px rgba(76, 73, 73, 0.15) ;
    color: aqua;   
    
}
.alert:hover span
{
    transform: scale(0.98);
} */





