*
{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebecec;
}
a
{
    position: relative;
    display: inline-block;
    padding: 0.7rem 2rem;
    margin-right: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: #5a84a2;
    font-size: 1rem;
    top: 8rem;
    border-radius: 0.7rem;
    box-shadow: -2px -2px 8px rgba(255,255,255,1),
                -2px -2px 12px rgba(255,255,255,0.5),
                inset 2px 2px 4px rgba(255,255,255,0.1),
                 2px 2px 8px rgba(0, 0, 0, 0.15);

}
a:hover
{
    box-shadow: -2px -2px 8px rgba(255,255,255,1),
                -2px -2px 12px rgba(255,255,255,0.5),
                inset 2px 2px 4px rgba(255,255,255,0.1),
                inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}
a:hover span
{
    display:inline-block;
    transform: scale(0.98);
}
.alert
{
    height: 4rem;
    width: 4rem;
    -webkit-appearance: none;
    box-shadow:-10px -10px 15px rgba(255,255,255,0.5),
               10px 10px 15px rgba(76, 73, 73, 0.15) ;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    margin-top: 10rem;
    border: 9px solid #ebecec;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5a84a2;
    font-size: 1.2rem;
    
}
.alert:hover
{
    box-shadow:-10px -10px 15px rgba(255,255,255,0.5),
               10px 10px 15px rgba(76, 73, 73, 0.15),
               inset 10px 10px 15px rgba(255,255,255,0.5),
               10px 10px 15px rgba(76, 73, 73, 0.15) ;
    color: aqua;   
    
}
.alert:hover span
{
    transform: scale(0.98);
}
