/* body {
    background-color:#f1f2f2;
} */
.div{
    color:white;
}
.text{
    font-weight:500;
    color:black;
    
}
.border{
    border:1px solid rgba(0,0,0,0.6);
    border-radius:0px;
    border-left:white;
    border-right:white;
    font-weight:100;
}
.text2{
    background-color:rgba(187,0,51,0.3);
    color:black;
    font-weight:900;
}
.divider{
    border:1px solid white;
}
/* .quotes{
    margin:15px;
} */
.heading1{
    
    text-align:center;
    position:inline;
    box-shadow:20px 20px 30px rgba(0,0,0,0.6);
    font-weight:800;
    border-radius:8px;
    box-sizing:border-box;
    /* margin:15px; */
    font-size:3vh;
    letter-spacing:2px;
    border:1px solid #fff;
    border-left-color:none;
}
.box1 {
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    position: relative;
    -webkit-box-shadow: 20px 20px 25px rgba(0,0,0,0.6);
            box-shadow: 0px 20px 25px rgba(0,0,0,0.6);
    border: 4px solid rgba(255,255,255,1);
    border-radius: 17px;
    margin-top:10%;
    /* margin-left:2%; */
    position:inline;
    display:inline-block;
    background-color:#fff;
    width:100%;
    /* font-size: 20rem; */
    
}
.text-header{
    margin: 15px;
    color: #000000;
    font-family: "Poppins",sans-serif;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 1px;
}
.paragraph{
    font-size: 15px;
    margin-bottom:10px;
    color: #000000;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    line-height: 10px;
    text-align: right;
}
.quote{
    background-color:#f1f2f2;
    margin-bottom:13%;
    position:inline;
}

.skill{
    background-color:#2A2A2A;
    display:none;
    
}
.box{
    color:red;
    position:relative;
    top:10vh;
    /* margin:4%; */
    margin-bottom:200px;
    background-color:#2A2A2A;
    border:1px rgba(0,0,0,0.3);
    box-shadow:-3px -3px 1px #343434,1px 1px 1px #1e1e1e,2px 2px 1px #212121,3px 3px 1px #292929;
    height:80px;
    width:80px;
    margin-bottom:30px;
    border-radius:0px;
    display:inline-block;
}
.box:hover{
    color:white;
    height:81px;
    width:81px;
    box-shadow:-7px -7px 2px #343434,1px 1px 1px #1e1e1e,2px 2px 1px #212121,3px 3px 1px #292929;
    top:8vh;
    
}
img{
    position:inline;
    margin:10px;
    height:60px;
    width:60px;
}
.heading{
    
    text-align:center;
    position:relative;
    box-shadow:inset -7px -7px 1px #343434,1px 1px 1px #1e1e1e,2px 2px 1px #212121,3px 3px 1px #292929;
    font-weight:800;
    
    box-sizing:border-box;
    margin:15px;
    font-size:30px;
    letter-spacing:2px;
    border:1px solid rgba(230,230,230,0.4);
    
    color:rgba(240,240,240,0.6);
    top:29px;
}
/*  */
.heading:hover{
    box-shadow:0px 3px 1px rgba(255,255,255,0.5),1px 1px 1px #1e1e1e,2px 2px 1px #212121,3px 3px 1px #292929;
    font-weight:900;
    border:1px solid rgba(230,230,230,0.9);
    
    color:rgba(255,250,255,0.9);
    top:20px;
}
.footer,.footer1{
    border:1px rgba(0,0,0,0.3);
    margin-top:30%;
    margin-left:20%;
    margin-bottom:20px;
    position:relative;
    display:inline-block;
    left:10%;
}
.icon{
    
    font-size:35px;
    color:red;
    display:inline-block;
    
}
@media screen and (min-width : 1380px) {
    .box1{
        padding: 20vh;
        
    }
    .text-header{
        font-size: 6vh;
        font-weight: 700;
    }
}
@media screen and (min-width : 680px) {
    .box1{
        padding: 6vh;
        
    }
    .text-header{
        font-size: 3vh;
        font-weight: 700;
    }
    .heading1{
        margin-top: 5vh;
        padding: 6vh;
        margin-bottom: 0vh;
    }
}



