body {
    
}

.about-s,.courses-s,.campus-s,.admission-s,.iqac-s,.research-s,.student-s,.placement-s,.library-s,.feedback-s,.login-form{
    display:none;
}
.about-d:hover .about-s{
    display:block;
}
.courses-d:hover .courses-s{
    display:block;
}
.campus-d:hover .campus-s{
    display:block;
}
.admission-d:hover .admission-s{
    display:block;
}
.iqac-d:hover .iqac-s{
    display:block;
}
.research-d:hover .research-s{
    display:block;
}
.student-d:hover .student-s{
    display:block;
}
.placement-d:hover .placement-s{
    display:block;
}
.library-d:hover .library-s{
    display:block;
}
.feedback-d:hover .feedback-s{
    display:block;
}
.feedback-p:hover .feedback-ss{
    display:block;
}
.dropdown {
    
    margin-left:30px;
    font-weight:500;
}
.nav-image{
    position:relative;
    background-size:cover;
    
}
.box{
    position:relative;
    width:250px;
    height:450px;
    padding:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    backdrop-filter: blur(20px);
    background-color:#f1f2f2;
    border-radius:21px;
    margin:40px;
}
.box .form{
    position:relative;
    width:100%;
}
.box .form h2{
    letter-spacing:1px;
    font-weight:600;
    color:#000;
    margin-bottom:20px;
    background:transparent;
}
.box .form .input_login
{
  position:relative;
  width:100%;
  margin-bottom:20px;
}
.box .form .input_login input
{
    width:100%;
    outline:none;
    border:rgba(255,255,255,0.2);
    background:transparent;
    padding:8px 10px;
    border-radius:8px;
    color:#000;
    font-size:16px;
    font-weight:600;
    box-shadow:inset 0 0 30px rgba(0,0,0,0.3);
}
.box .form .input_login input[type="submit"]
{
    background-color:#fff;
    color:#111;
    max-width:80px;
    padding:8px 10px;
    box-shadow:none;
    font-weight:600;
    letter-spacing:1px;
}
.remember
{
   position:relative;
   display:inline-block;
   color:#000;
   font-weight:600;
   margin-bottom:9px;
}
.box .form p
{
    position:relative;
    color:#000; 
    display:inline-block;
    margin-bottom:5px;
    font-weight:600;
    font-size:15px;
}
.login-form{
    background:linear-gradient(-30deg, #03a9f4 0%, #3a78b7 50%, #262626 50%, #607d8b 100%);;
    margin:0;
        
}
.header-img{
    position:relative;
    display:inline-block;
    
}
.mentor-img{
    height:300px;
    width:400px;
    justify-content:center;
    align-item:center;
    text-align:center;
    
    
    overflow:none;
    
    
}
.mentor-name{
    font-size:20px;
    font-weight:700;
    align-item:center;
    justify-content:center;
    text-align:center;
    color:blue;
    
    
    
}
.mentor-position{
    color:blue;
    text-align:center;
    font-weight:400;
    text-align:center;
    font-size:20px;
    justify-content:center;
    align-item:center;
    
}
.swiper-slide img{
    height:300px;
    width:100%;
    
    
}
.our-mentor{
    text-align:center;
    font-weight:700;
    justify-content:center;
    margin:20px;
    font-size:30px;
}
a{
    text-decoration:none;
}
.box2{
    height:100%;
    width:100%;
}
.statement{
    margin:20px;
    font-weight:600;
    color:blue;
    text-align:center;
    font-size:20px;
    margin-top:70px;
}
.statement-d{
    font-size:300;
    font-size:20px;
    text-align:center;
    margin-top:30px;
}
.circle {
    text-align:center;
    border-radius:50%;
    background-color:#f1f2f2;
    height:80px;
    width:80px;
    border:1px solid blue;
    display:inline-block;
    color:blue;
 
}
.number{
    margin:30px;
    font-size:20px;
}
.number-d{
    margin:40px;
}
.more-details{
    font-size:20px;
    border-radius:11px;
    background-color:yellow;
    margin:10px;
    height:30px;
    width:200px;
}
.our-course-h{
    text-align:center;
    font-weight:900;
    font-size:30px;
    margin:40px;
}
.unique-img img{
    height:40px;
    height:40px;
    margin:30px;
}
.unique-list{
    background-color:rgba(0,0,250,0.6);
    color:white;
    font-size:15px;
    font-weight:600;
    text-align:center;
    border-radius:11px;
    
}
.up-down{
    border-radius:50%;
    float:right;
    border:1px solid blue;
    background-color:blue;
    height:30px;
    width:30px;
    text-align:center;
    float:bottom;
}
.footer{
    background-color:rgba(0,0,0,0.2);
    padding:40px;
}
.footer-header{
    font-size:25px;
    font-weight:900;
    Color:yellow;
}
.footer-d{
    font-size:15px;
    font-weight:600;
    
}
.socialmedia li{
    display:inline-block;
    letter-spacing:25px;
    border-radius:50%;
    font-size:30px;
}
